.message {
    display: block;
    width: 100%;
    justify-content: right;
    text-align: end;
}

.imageAndText {

}

.imageAndText img {
    margin: 0 70px -25px 10px;
}

.text {
    display: inline-block;
    margin-top: 24px;
    padding: 20px 15px;
    border-radius: 10px;
    background-color: #0066CC;
    color: #FFFFFF;
}

.text:after {
    font-size: 22px;
    font-weight: 400;
}

.name {
    font-size: 18px;
    font-weight: 600;
}

.messageText {
    font-size: 20px;
}

.time {
    margin: 5px 81px 47px 0px;
    font-size: 10px;
    font-weight: 600;
}